$font-primary: Arial, Helvetica, sans-serif;
$font-primary-size: 16px;
$input-font-size: 15px;
$input-padding: 5px 0;
$input-bottom-margin: 10px;
$input-placeholder-padding: 5px;
$submit-color: #4CAF50;
$submit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

html {
    height: 100%;
}

body {
    font-size: $font-primary-size;
    font-family: $font-primary;
    background: #F9F9F9;
}

h1 {
    text-align: center;
}

label {
    display: inline-block;
    padding-bottom: 5px;
}

input {
    display: inline-block;
    box-sizing : border-box;
    width: 100%;
    padding: $input-padding;
    padding-left: $input-placeholder-padding;
    margin-bottom: $input-bottom-margin;
    font-size: $input-font-size;
}

input[type=submit] {
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    background: $submit-color;
    color: white;
    border: none;
    cursor: pointer;
}
    
input[type=submit]:hover {
    box-shadow: $submit-box-shadow;
}

.container {
    width: 300px;
    display: block;
    margin: 0 auto;
}